@use "../globals/base" as *;

.chip {
  color: #054536;
  border: none;
  height: 32px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: $secondary-color;
  margin: 2px 6px 2px 0;
  transition: background-color 0.2s ease, color 0.15s ease;

  &:hover {
    background-color: #259a74;
  }

  .#{$dark-class} & {
    background-color: $secondary-color;
    color: #054536;

    &:hover {
      background-color: #259a74;
    }
  }

  &.active {
    background-color: $primary-color;
    color: #fff;

    &:hover {
      background-color: $primary-color__hover;
    }

    .#{$dark-class} & {
      background-color: #818cf8; // Brighter indigo for dark mode visibility
      color: #fff;

      &:hover {
        background-color: #a5b4fc;
      }
    }
  }

  &.button {
    cursor: pointer;
  }

  &__label {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
  }
}
