---
import SunIcon from "./icons/SunIcon.astro"
import MoonIcon from "./icons/MoonIcon.astro"
---

<button
  id="dark-mode-toggle"
  class="dark-mode-toggle"
  aria-label="Toggle dark mode"
>
  <div class="icon-container">
    <SunIcon class="icon sun-icon" />
    <MoonIcon class="icon moon-icon" />
  </div>
</button>

<script>
  const button = document.getElementById("dark-mode-toggle")

  if (button) {
    button.addEventListener("click", () => {
      // @ts-ignore
      const currentTheme = window.__theme
      const newTheme = currentTheme === "dark" ? "light" : "dark"

      // @ts-ignore
      window.__setPreferredTheme(newTheme)
    })
  }
</script>
