---
import { Icon } from "astro-icon/components"
---

<button
  id="dark-mode-toggle"
  class="dark-mode-toggle"
  aria-label="Toggle dark mode"
>
  <div class="icon-container">
    <Icon name="twemoji:sun" class="icon sun-icon" />
    <Icon name="mynaui:moon-solid" class="icon moon-icon" />
  </div>
</button>

<script>
  const button = document.getElementById("dark-mode-toggle")

  if (button) {
    button.addEventListener("click", () => {
      // @ts-ignore
      const currentTheme = window.__theme
      const newTheme = currentTheme === "dark" ? "light" : "dark"

      // @ts-ignore
      window.__setPreferredTheme(newTheme)
    })
  }
</script>
