@use "../globals/base" as *;

.recipe {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &:has(.recipe__note-icon:hover),
  &:has(.recipe__note-icon.active) {
    z-index: 100;
  }

  &__link {
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    max-height: 300px;
    border-radius: 8px;
  }

  &__image {
    transition: all 0.2s ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
    display: block;

    &:hover {
      transition: all 0.2s ease-out;
      transform: scale(1.1);
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__note-icon {
    position: relative;
    z-index: 1001;
    cursor: pointer;
    margin-left: 0px; // from inline style override
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    transform: translateY(-5px); // from inline style

    &::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(97, 97, 97, 0.92);
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      white-space: normal;
      width: 250px;
      font-size: 0.875rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
      z-index: 1001;
    }

    &.active::after,
    &:hover::after,
    &:focus::after {
      opacity: 1;
      z-index: 1001;
    }
  }

  &__body {
    &__buttons {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
      z-index: 1001;
    }
  }
}
